{{template "base" .}}

{{define "content"}}

<div class="container">
    

    <div class="row">
        <div class="col">
            <h1 class="text-center mt-4">Welcome to Keppy's Forum</h1>
            <p>This is keppy's forum. you can share your questions and comments here. You can create your own questions and comments.
            This is keppy's forum. you can share your questions and comments here. You can create your own questions and comments.
            This is keppy's forum. you can share your questions and comments here. You can create your own questions and comments.
            This is keppy's forum. you can share your questions and comments here. You can create your own questions and comments. Hurry!</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a href="/ask-question" class="btn btn-warning">Ask Now</a>
        </div>
    </div>
</div>
{{end}}